<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JTrade Platform - jtradeplatform.com</title>
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">JTrade Platform</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <span class="navbar-text ms-auto">
                    Демоверсия мониторинга криптовалют
                </span>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-10">
                <div class="card mb-4 rounded-3 shadow-sm" style="height: 800px">
                    <div class="card-header py-3 align-content-between d-flex">
                        <div><h4 class="my-0 fw-normal">BTC/USDT - 5M</h4></div>
                        <div class="text-end ms-auto">Пробой уровня поддержки.</div>
                    </div>
                    <div class="card-body">
                        <div id="b-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card mb-4 rounded-3 shadow-sm" style="height: 800px">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Уведомления</h4>
                    </div>
                    <div class="card-body">

                        <div class="card mb-3">
                            <div class="card-body">
                                <strong class="card-title">BTC/USDT - 5M</strong><br>
                                <span class="card-text">Пробой уровня поддержки.</span><br>
                                <span>14:45</span>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <strong class="card-title">BTC/USDT - 5M</strong><br>
                                <span class="card-text">Пробой уровня поддержки.</span><br>
                                <span>14:45</span>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <strong class="card-title">BTC/USDT - 5M</strong><br>
                                <span class="card-text">Пробой уровня поддержки.</span><br>
                                <span>14:45</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Resources -->
<script src="/js/manifest.js"></script>
<script src="/js/vendor.js"></script>
<script src="/js/app.js"></script>
</body>
</html>